<%-layout('layout/boilerPlate') %>
<div class="vh-100"></div>
<footer
  class="d-flex justify-content-evenly border-top py-1 sticky-bottom d-md-none"
>
  <div>
    <a href="" class="text-dark">
      <i class="fa-solid fa-house"></i>
    </a>
  </div>
  <div>
    <a href="" class="text-dark">
      <i class="fa-solid fa-magnifying-glass"></i
    ></a>
  </div>
  <div>
    <a href="" class="text-dark"><i class="fa-solid fa-clapperboard"></i></a>
  </div>
  <div>
    <a href="" class="text-dark"> <i class="fa-regular fa-heart"></i></a>
  </div>
  <div>
    <a href="" class="text-dark"> <i class="fa-regular fa-user"></i> </a>
  </div>
</footer>
