
<footer
  class="border-top-2 py-1 d-md-none"
>
  <div>
    <a href="/posts" class="text-dark h4">
      <i class="fa-solid fa-house"></i>
    </a>
  </div>
  <div>
    <a href="" class="text-dark h4">
      <i class="fa-solid fa-magnifying-glass"></i
    ></a>
  </div>
  <div>
    <a href="" class="text-dark h4"><i class="fa-solid fa-clapperboard"></i></a>
  </div>
  <div>
    <a href="" class="text-dark h4"> <i class="fa-regular fa-heart"></i></a>
  </div>
  <div>
    <a href="/user/signin" class="text-dark h4"> <i class="fa-regular fa-user"></i> </a>
  </div>
</footer>
