<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand h1 w-100 ms-5 ps-5" href="#"><i class="fa-brands fa-instagram"></i> 𝓲𝓷𝓼𝓽𝓪𝓰𝓻𝓪𝓶</a>
        <div class="collapse navbar-collapse d-md-none d-lg-block" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link active mx-lg-3" aria-current="page" href="/posts"><i class="fa-solid fa-house"></i></a>
                <a class="nav-link mx-3" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                <a class="nav-link mx-3" href="#"><i class="fa-solid fa-camera-retro"></i></a>
                <a class="nav-link mx-3" href="#"><i class="fa-regular fa-heart"></i></a>
                <a class="nav-link mx-3" href="/user/signup"><i class="fa-regular fa-user"></i></a>
                <a class="nav-link mx-3" href="#"><i class="fa-brands fa-facebook-messenger"></i></a>
                <a class="nav-link mx-3" href="/posts/new"><i class="fa-solid fa-plus"></i></a>
            </div>
        </div>
    </div>
</nav>