<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand w-100 ms-5 ps-5" href="#"> <i data-visualcompletion="css-img" aria-label="Instagram"
                role="img" style="
              background-image: url('https://static.cdninstagram.com/rsrc.php/v3/yi/r/ZFtnMBJnHU_.png');
              background-position: 0px -554px;
              background-size: auto;
              width: 175px;
              height: 51px;
              background-repeat: no-repeat;
              display: inline-block;
            "></i></a>
        <div class="collapse navbar-collapse d-md-none d-lg-block" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link active mx-lg-3" aria-current="page" href="/posts"><i
                        class="fa-solid fa-house"></i></a>
                <a class="nav-link mx-3" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                <a class="nav-link mx-3" href="#"><i class="fa-solid fa-camera-retro"></i></a>
                <a class="nav-link mx-3" href="#"><i class="fa-regular fa-heart"></i></a>
                <div class="dropdown nav-link mx-0 px-0 mx-3">
                    <button class="btn dropdown-toggle btn-body my-0 py-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-regular fa-user"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/user/profile">Profile</a></li>
                      <li><a class="dropdown-item disabled" href="#">Settings</a></li>
                      <li><a class="dropdown-item text-danger" href="/user/signout">Log Out</a></li>
                    </ul>
                  </div>
                <a class="nav-link mx-3" href="#"><i class="fa-brands fa-facebook-messenger"></i></a>
                <a class="nav-link mx-3" href="/posts/new"><i class="fa-solid fa-plus"></i></a>
            </div>
        </div>
    </div>
</nav>
